@tailwind base;
@tailwind components;
@tailwind utilities;

.chat__messages::-webkit-scrollbar{
    display: none;
}
.chat__messages{
    scrollbar-width: none;
    -ms-overflow-style: none;
}